<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<connectionStrings>
		<add name= "cn" connectionString="Data Source = DESKTOP-A96FI67\SQLEXPRESS; Initial Catalog = MagazinElectronice; Integrated Security = True;"/>
	</connectionStrings>

	<!--<appSettings>
		<add key="ParentTableName" value="Locatii"/>
		<add key="ChildTableName" value="Angajati"/>
		<add key="IndexID" value="0"/>
		<add key="ChildToParentID" value="id_l"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildColumnNames" value="nume,functie,salar"/>
		<add key="ChildColumnTypes" value="string,string,int"/>
		<add key="ChildArr" value="@id,@nume,@functie,@salar"/>

		<add key="ChildInsertQUERY" value="INSERT INTO Angajati (id_l, nume, functie, salar) VALUES (@id,@nume,@functie,@salar);"/>
		<add key="ChildDeleteQUERY" value="Delete from Angajati where id_a = @id;"/>
		<add key="ChildUpdateQUERY" value="Update Angajati set nume=@nume, functie = @functie, salar = @salar where id_a=@id;"/>
	</appSettings>-->
	
	
	
	<appSettings>
		<add key="ParentTableName" value="Categorii"/>
		<add key="ChildTableName" value="Produse"/>
		<add key="IndexID" value="0"/>
		<add key="ChildToParentID" value="id_c"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildColumnNames" value="denumire_produs,descriere,pret"/>
		<add key="ChildColumnTypes" value="string,string,int"/>
		<add key="ChildArr" value="@id,@denumire_produs,@descriere,@pret"/>

		<add key="ChildInsertQUERY" value="INSERT INTO Produse (id_c, denumire_produs, descriere, pret) VALUES (@id,@denumire_produs,@descriere,@pret);"/>
		<add key="ChildDeleteQUERY" value="Delete from Produse where id_p = @id;"/>
		<add key="ChildUpdateQUERY" value="Update Produse set denumire_produs=@denumire_produs, descriere = @descriere, pret = @pret where id_p=@id;"/>
	</appSettings>


</configuration>